<!DOCTYPE html>
<html>
<head>
  <title>Will remember</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "will_remember/application", media: "all" %>
  <%= javascript_include_tag "will_remember/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
